body {
    background-image: url("../images/greenman.gif")
}

.jumbotron {
    background-color: black;
    color: white;
}

#timer {
    font-weight: bolder;

}

.questionsDisplay {
    font-size: 40px;
    font-family: 'lobster', cursive;
}